.root {
    display: flex;
    width: 320px;
    height: 568px;
    font-family: Verdana;

}
/* primera hoja */
.contInit{
    display: grid;
    width: 320px;
    grid-gap: 10px;
    height: 568px;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #3377FF;
    
}

.contHeader{
    display: flex;
    text-align: center;
    width: 320px;
    height: 120px;
    justify-content: center;
   
}
.logo{
    display: flex;
    width: 165px;
    height: 140px;
   

}


.contBody{
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 380px;
    padding: 1px;
    grid-gap: 1px;
    
    grid-template-rows: 1fr 2fr 1fr;
}
.imgInit{
    width: 80px;
    height: 80px;
   
}
.body1, .body4{
    grid-column: 1/3;
}
.body2, .body3{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Verdana;
    font-size: x-small;

}


h3{
    font-family: Verdana;
    font-size: small;
    text-align: center;
    margin-top: 0;
}
.phrase{
    margin-top: 5% !important;
    font-style: italic;
}

/* segunda hoja  */
.contBody1, .contBody2{
    display: grid;
    height: 380px;
    padding: 1px;
    grid-gap: 1px;
    grid-template-rows: 1fr 1fr 1fr 1fr 3fr;
    justify-content: center;
    font-family: Verdana;
}

.body5, .body9{
    font-size: 18px;
    display: flex;
    justify-content: center;
}
.body6, .body7, .body8, .body10, .body11{
    display: flex;
    flex-flow: column;
    margin-top: 10%;
}
.body7{
    flex-direction: row;
}
.body8{
    justify-content:center;
}
.body11{
    align-items: center;
}

.register{
    margin-top: 3%;
}

h1{
    font-family: Verdana;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    justify-content: space-evenly;
}

h2{
    font-family: Verdana;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    justify-content: space-evenly;
}

p{
   
    height: 15px;
    left: 72px;
    top: 292px;
    font-family: Verdana;
    font-size: 10px;
    line-height: 15px;
    color: #000000;
    margin:0;
}

input{
    width: 232px;
    height: 27px;
    left: 72px;
    top: 309px;
    background: #FAF7F7;
    border: 1px solid #110F0F;
    box-sizing: border-box;
}

.btnLogin, .btnGoogle, .btnFb, .btnRegister {
    width: 100px;
    height: 31px;
    left: 86px;
    top: 410px;
    font-family: Verdana;
    color:#FFFBFB;
    background: #FF5533;
    border-radius: 5px;
    margin-right: 15%;
    font-size: 12px;
    border: 1px solid rgba(254, 254, 254, 0.2);
    text-align: center;
}
.btnGoogle{

    background: #db4a39 !important;
    width: 170px !important;
    height: 31px !important;
    margin: auto !important;
}
.btnFb{

    background: #3b5998 !important;
    width: 170px !important;
    height: 31px !important;
    margin: auto !important;
    margin-top: 2% !important;
    
}
.btnRegister{
    margin-top: 10%;
    margin-right: 0 !important;
}

/* Vista Muro */

.contInit1{
    width: 320px;
    height: 568px;
}

.contBody3{
    display:grid;
    height: 80%;
    padding: 1px;
    grid-gap: 1px;
    grid-template-rows: 2fr 1fr 6fr 2fr ;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    font-family: Verdana;

}
.contHeader2, .contFooter1{
    background: #F8F5F5;
    display: flex;
    width: 100%;
    height: 10%;
    align-items: center;
    justify-content: flex-start;
}
.logo2{
    width: 40%;
    height: 70px;
}
.store{
    height: 40px;
    width: 40px;
    align-self: center;
    margin-left: 40%;

}
.like{
    height: 20px;
}

.menu{
    width: 35px;
    height: 35px;
}
.imgWall{
    width: 100%;
}
.nameStore, .nameStore1{
    font-family: Verdana;
    font-size: 12px;
    line-height: 17px;
    font-weight: bold;
    color: #000000;
}
.nameStore1{
    margin: 0 0 10px 0;
}
.numberLikes{
    font-weight: bold;
}
.like{
    margin-left: 4%;
    margin-top: 8%;
}

.bodySlider{
    background: burlywood;
    grid-column: 1/3;
}
.contFooter1{
    flex-direction: row;
    justify-self: flex-end;
    justify-content: space-around;
}
.body12, .body12B{
    display :flex;
    align-items: flex-end;
}
.body12{
    margin-left: 10%;
}
.body12B{
    margin-right: 10%;
    justify-content: flex-end;
}
.body14{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    grid-column: 1/3;
    margin-right: 2%;
}
.body13{
    align-items: baseline;
    display :flex;
    grid-column: 1/3;
}